@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary */

    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral */

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    font-family: Inter;
    font-size: 15px;
}

a, section h2 {
    @apply hover:text-[--soft-orange] cursor-pointer transition-all
}

button {
    @apply bg-[--soft-red] hover:bg-[--very-dark-blue] text-[--off-white] font-semibold uppercase py-3 px-10 w-fit transition-all
}

h1 {
    @apply font-bold
}

h2 {
    @apply font-semibold
}

section h2 {
    @apply text-xl mb-3
}

section p {
    @apply text-[--grayish-blue]
}

hr {
    @apply border-[--dark-grayish-blue] md:my-10 my-5
}

footer section {
    @apply gap-5
}

footer img {
    @apply w-auto sm:h-[50%] h-40 my-auto
}

footer span {
    @apply lg:text-4xl sm:text-2xl text-4xl text-[--grayish-blue] font-extrabold
}

footer h2 {
    @apply lg:text-lg sm:text-sm text-lg text-[--very-dark-blue] font-extrabold
}

footer p {
    @apply text-[--dark-grayish-blue] sm:text-xs lg:text-base text-base
}
